$main_font: 'Poppins', sans-serif;
$main_color: #fff;

@mixin pastcode{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  text-align: center;
}

@mixin display{
  display: flex;
  justify-content: center
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  header{
    background: #181818;
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    .nav{
      max-width: 700px;
      margin: auto;
      display: inline-flex;
    }
    .cursor, .cursor2, .cursor3 {
      display: none
    }
      div{
        max-width: 1200px;
        margin: auto;
        text-align: center;
        display: inline-flex;
        justify-content: space-between;
        ul{
          display: flex;
          flex-direction: row;
          padding-bottom: 15px;
          padding-top: 15px;
          li{
            &:nth-child(2) a, &:nth-child(3) a, &:nth-child(4) a{
              padding-right: 32px;
            }
            &:first-of-type a{
              font-family: $main_font;
              font-weight: 400;
              font-size: 13px;
              line-height: 1.53846;
              color: $main_color;
              padding-right: 56px;
            }
            &:last-of-type a{
              font-family: $main_font;
              font-weight: 400;
              font-size: 16px;
              line-height: 1.25;
              letter-spacing: 0.03em;
              color: #000;
              border-radius: 14px;
              width: 155px;
              height: 42px;
              background: $main_color;
              padding: 10px 20px;
            }
            a{
              text-decoration: none;
              font-family: $main_font;
              font-weight: 400;
              font-size: 15px;
              line-height: 1.33333;
              color: $main_color;
            }
          }
        }
        a{
          &:first-of-type{
            padding-top: 10px;
            padding-bottom: 10px;
          }
        }
    }
  }
  .road{
    background-image: url("../images/road.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 95px);
    @include display;
    align-items: flex-end;
    padding-bottom: 60px;
    position: relative;
    .filmmaker{
      max-width: 600px;
      text-align: center;
      padding-top: 20px;
      padding-bottom: 10px;
      h1{
        @include pastcode;
        font-size: 54px;
        line-height: 1.1;
        color: $main_color;
      }
      p{
        @include pastcode;
        font-size: 14px;
        line-height: 1.42857;
        letter-spacing: 0.14em;
        text-transform: uppercase;
        color: #c0c0c0;
      }
      span{
        display: block;
        @include pastcode;
        font-size: 14px;
        line-height: 1.42857;
        color: #c0c0c0;
      }
    }
    .mini_icons{
      position: absolute;
      display: flex;
      right: 40px;
      bottom: 40px;
      list-style-type: none;
      li{
        font-family: $main_font;
        font-weight: 400;
        font-size: 12px;
        line-height: 1;
        color: $main_color;
        &:first-of-type, &:nth-child(2), &:nth-child(3){
          padding-right: 17px;
        }
      }
    }

  }
.past_clients {
  background-color: black;
  padding-top: 120px;
  padding-bottom: 100px;

  h3 {
    @include pastcode;
    font-size: 40px;
    line-height: 1.05;
    color: $main_color;
    padding-bottom: 15px;
  }
  p {
    @include pastcode;
    font-size: 24px;
    line-height: 1.25;
    color: #c0c0c0;
  }
    .past {
      padding-bottom: 40px;
      max-width: 600px;
      margin: auto;
    }
    .owl-carousel {
      max-width: 1168px;
      margin: auto;

      img {
        max-width: 128px;
      }
      .owl-stage {
        @include display;
        align-items: center;
      }
      .owl-item{
        @include display;
      }
    }
  }


